.chartInformation {
    width: 100vw;
    background-color: #222;
    display: none;
    margin-top: 5%;
    flex-direction: column;
    padding-bottom: 15vh;
}
.chartNavigation {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    font-size: 1.2rem;
    line-height: 2rem;
    transition: .3s;
    margin-top: 2%;
}
.chartNavigation a {
    color: #fafafa;
    opacity: .6;
    display: flex;
    text-decoration: none;
    font-family: Avenir, proxima-nova, Helvetica, sans-serif;
    transition: .3s;
}
.chartNavigation a:hover {
    padding-left:8px;
    transition: .3s;
    color: #CE2D4F;
    cursor: pointer;
}
.close {
    float: right;
    font-size: 50px;
    margin-top: 1%;
    margin-left: 10%;
    font-size: 1.6rem;
    color: #fafafa;
    opacity: .6;
    display: flex;
    font-family: Avenir, proxima-nova, Helvetica, sans-serif;
    line-height: 1.6rem;
    transition: .3s;
}
.returnToDashboard {
    float: right;
    font-size: 50px;
    margin-top: 8%;
    margin-left: 10%;
    font-size: 1.6rem;
    color: #fafafa;
    opacity: .6;
    display: flex;
    font-family: Avenir, proxima-nova, Helvetica, sans-serif;
    line-height: 1.6rem;
    transition: .3s;
    text-decoration: none;
}
.close:hover {
    transition: .3s;
    color: #CE2D4F;
    cursor: pointer;
    padding-left: 15px;
}
.returnToDashboard:hover {
    transition: .3s;
    color: #CE2D4F;
    cursor: pointer;
    padding-left: 15px;
}
.closeIcon {
    margin-left: 1%;
}
.chartH2 {
    margin-top: 5%;
    margin-left: 10%;
    font-size: 1.9rem;
    color: #fafafa;
    opacity: .8;
    display: flex;
    font-family: Avenir, proxima-nova, Helvetica, sans-serif;
}
.chartsContainer {
    display: flex;
    width: 85%;
    margin-left: 7.5%;
    margin-top: 0%;
    flex-direction: column;
}
.chart {
    width: 80%;
    display: flex;
    height: 170px;
    flex: 1;
    margin-top: 3%;
}
.chartHeader {
    color: #CE2D4F!important;
    margin-top: 10%;
    font-weight: 500!important;
    font-size: 1.8rem!important;
}