* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    overflow-x: hidden;
}
.container {
    width: 100%;
    background-color: #CE2D4F;
}
.container h1 {
    margin-left: 20%;
    padding-top: 2%;
    font-size: 50px;
    font-size: 3rem;
    font-weight: 900;
    font-family: Avenir;
    color: rgb(80, 21, 34);
    text-shadow: 0px 1px #222;
}
.container p {
    margin-left: 20%;
    margin-top: .1%;
    color: #fff;
    font-weight: 500;
    opacity: .7;
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.dashboard {
    width: 90%;
    margin-top:2%;
    margin-left: 5%;
    display: flex;
    /* height: 600px; */
    flex-basis: 100%;
    flex-direction: row;
    border: 3px solid #211A1E;
}
.currentStatistics .numberTitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    margin-top: 2%;
    margin-left: 10%;
    color: #fff;
    opacity: .7;
    text-shadow: 0px;
}
.currentStatistics .subTitle{
    margin-left: 10%;
    padding-top: 1%;
    font-size: .8rem;
    letter-spacing: 3px;
    font-weight: 600;
    font-family: Avenir;
    color: rgb(80, 21, 34);
}
.currentStatistics .last{
    padding-bottom: 20px;

}
.sectionHeader {
    margin-left: 10%;
    margin-top: 5%;
    font-size: 1.2rem;
    opacity: .7;
    letter-spacing: 0px;
    color: #fff;
    font-family: Avenir;
}
.exploreData, .search {
    background-color: #211A1E;
}
.tab {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.detailsByCountry {
    margin-left: 5%;
    margin-top: 4%;
    font-size: 1rem;
    color: #fff;
    opacity: .6;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
.countries {
    width: 90%;
    margin-top: 1%;
    bordeR: 1px solid red;
    height: 300px;
    margin-left: 5%;
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
}
.country {
    flex: 1;
    width: 90%;
    border: 1px solid white;
}