.tableContainer{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 1vh;
  background-color: white;
  margin-bottom: 50px;
  display: none;
}
  table{
    width: 100%;
    table-layout: fixed;
  }
  .tableHeader {
    margin-top: 1vh;
    display: none;
    margin-left: 15%;
    font-size: 50px;
    font-size: 1.6rem;
    color: #fafafa;
    opacity: .6;
    background-color: #CE2D4F;
    font-family: Avenir, proxima-nova, Helvetica, sans-serif;
    line-height: 1.6rem;
    transition: .3s;
    margin-bottom: 20px;
  }
  .tbl-header{
    background-color: #a52740;
    height: 8vh;
   }
  .tbl-content{
    height: 50vh;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 10px;
    text-align: left;
    font-weight: 800;
    font-size: 16px;
    color: white;
    line-height: 6vh;
    font-family: Avenir, proxima-nova, Helvetica, sans-serif;
    }
  td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px dotted rgba(223, 85, 115, .3);
    border-right: 1px dotted rgba(223, 85, 115,.3);
    vertical-align:middle;
    font-weight: 300;
    font-size: 15px;
    font-family: Avenir, proxima-nova, Helvetica, sans-serif;
    color: #222;
  }
  .clearTable {
    margin-top: 1vh;
    display: none;
    margin-left: 15%;
    font-size: 50px;
    font-size: 1.6rem;
    color: #fafafa;
    opacity: .6;
    font-family: Avenir, proxima-nova, Helvetica, sans-serif;
    line-height: 1.6rem;
    transition: .3s;
    margin-bottom: 20px;
  }
  .backToTop {
    margin-top: 1%!important;
    margin-bottom: 100px;
    text-decoration: none;
    font-weight: 700;
}
  .clearTable:hover {
    transition: .3s;
    color: #fff;
    opacity: 1;
    cursor: pointer;
    padding-left: 15px;
  }
